<div th:fragment="footer">
    <div class="container">
        <div class="row text-white bg-dark">
            <div class="col-lg-3">
                <br><h4>Curabitur</h4><br>
                <small>Emauris</small><br>
                <small>Kfringilla</small><br>
                <small>Oin magna sem</small><br>
                <small>Kelementum</small><br>
                <h4>&nbsp;</h4><br>
            </div>
            <div class="col-lg-3">
                <br><h4>Fusce</h4><br>
                <small>Econsectetur</small><br>
                <small>Ksollicitudin</small><br>
                <small>Omvulputate</small><br>
                <small>Nunc fringilla tellu</small><br>
                <h4>&nbsp;</h4><br>
            </div>
            <div class="col-lg-3">
                <br><h4>Kontakt</h4><br>
                <small><b>Peakontor: Tallinnas</b></small><br>
                <small>Vaike- Ameerika 1, 11415</small><br>
                <small> Telefon: 605 4450</small><br>
                <small>Faks: 605 3186</small><br>
            </div>
            <div class="col-lg-3">
                <br><h4>&nbsp;</h4><br>
                <small><b>Harukontor: Võrus</b></small><br>
                <small>Oja to 7 (külastusaadress)</small><br>
                <small>Telefon: 605 3330</small><br>
                <small>Faks: 605 3155</small><br>
                <h4>&nbsp;</h4><br>
            </div>
        </div>
    </div>
</div>


